@charset "utf-8"

@import "../../../node_modules/milligram/src/milligram.sass"

$color-bg: #f4f5f6

body
    margin: 0
    background-color: $color-bg

.navbar
    border-bottom: .1rem solid #d1d1d1
    margin-bottom: 5rem
    margin-top: 0.5rem

    ul
        list-style-type: none

    .container
        padding-bottom: 0.5rem

.float-right
    float: right
