@charset "utf-8"

@import "../../../node_modules/milligram/src/milligram.sass"

$color-bg: #f4f5f6

body
    margin: 0
    background-color: $color-bg

.navbar
    padding-top: .75rem
    padding-bottom: .5rem
    border-bottom: .1rem solid #d1d1d1
    margin-bottom: 5rem
