{% extends "layout.html" %}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Embarc Journeys</h1>
            <p>This is where you add journey</p>
            <!--<form action="/" method="post">
               <div class="field">
                  <label class="label">Picture</label>
                  <div class="control">
                    <form method="POST" enctype="multipart/form-data">
                      <input type="file" name="img_upload">
                    </form>
                  </div>
               </div>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        {{ form.name(class_='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        {{ form.description(class_='textarea') }}
                    </div>
                </div>
                {{ form.csrf_token }}
                <input type=submit value=Submit>
            </form> -->
            <form action="{{ url_for('add_journey') }}" method="POST">
                {{ form.csrf_token }}
                {{ form.name(class_='input') }}
                {{ form.description(class_='textarea') }}
                <input type=submit value="Go">
            </form>
        </div>
    </section>
{% endblock %}
