{% extends 'layout.html' %}

{% block body %}
{% for feed in list_by_journey_id %}
<div>
  <h3>Journey ID</h3>
  {{feed.journeyid}}
</div>
<div>
  <h5>Rating</h5>
  {{feed.rating}}
</div>
<div>
  <h5>Question 1</h5>
  {{feed.q1}}
</div>
<div>
  <h5>Question 2</h5>
  {{feed.q2}}
</div>
<div>
  <h5>Question 3</h5>
  {{feed.q3}}
</div>
<div>
  <h5>Question 4</h5>
  {{feed.q4}}
</div>
<div>
  <h5>Question 5</h5>
  {{feed.q5}}
</div>
<div>
  <h5>Question 6</h5>
  {{feed.q6}}
</div>
{% endfor %}
{% endblock %}
