{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1 class="title">Embarc Journeys</h1>
    </div>
    <section>
        <div class="container">
            <a class="button" href="{{url_for('login')}}">Login</a>
        </div>
    </section>
    <div class="container">
        <a class="button" href="{{url_for('add_journey')}}">Add a Journey</a>
    </div>
    {% for journey in journeys %}
    <div class="container">
        <h2 class="subtitle">{{ journey.name }}</h2>
        <a href="{{ url_for('show_journey', journey_slug=journey.id) }}">
            <img src="{{ url_for('static', filename='cdn/{}'.format(journey.picture)) }}">
        </a>
    </div>
    {% endfor %}
{% endblock %}
