{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>{{ journey_name }}</h1>
  </div>
        <div class="container container-full-width" style="background-image:url({{ url_for('static', filename='cdn/{}'.format(journey_img_name)) }})"></div>
  <div class="container">
      <h4>
    {{ journey_description }}
      </h4>
  </div>
  {% for reflection in reflections %}
  <div class="container" style="background-color: white">
      <h2>{{reflection.name}} says:</h2>
      <blockquote>{{reflection.description}}</blockquote>
  </div>
  <div>
    {{reflection.date}}
  </div>
  {% endfor %}
  {% if user.user_type == 'ADMIN' or user.user_type == 'STUDENT' %}
    <div class="container">
        <h2>Add a reflection</h2>
        <form action="#" method="post">
            <div class="field">
                <label class="label">Content</label>
                <div class="control">
                    {{ form.description(class_='textarea') }}
                </div>
            </div>
            <div class="field">
                {{ form.csrf_token }}
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
          <a href="{{ url_for('show_feedback', journey_slug=journey_id) }}" class="button">
              Private Feedback
          </a>
    </div>
    {% endif %}
{% endblock %}
