<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Journeys{% endblock %} | Embarc</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500">
        {% endblock %}
    </head>
    <body>
        <main class="wrapper">
            <nav class="navbar">
                <div class="container">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='embarc-logo.png') }}">
                    </a>
                    <ul class="float-right">
                        {% if user.is_authenticated %}
                            <a href="{{url_for('show_user')}}">Profile</a>
                            <a class="button" href="{{url_for('logout')}}">Logout</a>
                        {% else %}
                            <a class="button" href="{{url_for('login')}}">Login</a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block body %}
            {% endblock %}
        </main>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
